.container
  .row
    .col-12
      = link_to "トップに戻る", root_path
    .col-12.my-5
      .col-12
        = link_to "Qiita", "https://qiita.com/tetsuyakojima"
      .col-12
        = link_to "記事を投稿する", new_article_path
      - @articles.each do |article|
        .col-12.bg-light.shadow
          = link_to "#{article.title}", article_path(article)
          = link_to "#{article.content}", article_path(article)