.container
  .row
    .col-12.my-5
      .col-12
        = link_to "Qiita", "https://qiita.com/tetsuyakojima"
      - if user_signed_in?
        .col-12
          = link_to "記事を投稿する", new_article_path
        .col-12
          = link_to "お問合せ確認", inquiries_path
      .col-12.d-flex
        .col-9
          - @articles.each do |article|
            .bg-white.shadow.d-flex.my-3.p-3
              = link_to image_tag(article.image, class: "article__image"), article_path(article)
              .text
                .article__title.text-wrap.text-break.px-2
                  = link_to article.title, article_path(article)
                .article__content.text-wrap.text-break.px-2
                  = link_to article.content, article_path(article)
        = render 'right_content'