.container
  .row
    .col-12.d-flex.my-5
      .show__content.col-9.bg-white.shadow-sm
        .col-12.text-right.mt-3
          - if user_signed_in?
            %i.fas.fa-edit
              = link_to "記事を編集する", edit_article_path
            %i.fas.fa-trash
              = link_to "記事を削除する", article_path, method: :delete, data: {confirm: "削除します。よろしいですか？"}
        .py-3
          = image_tag(@article.image, class: "article__top_image")
        .h2.my-5
          = @article.title
        .col-12.mt-5.text-wrap.text-break
          = markdown(@article.content).html_safe
      = render 'right_content'