#app
  = form_with model: @article, local: true do |f|
    .col-12.my-3
      = f.text_field :title, class: "form-control", placeholder: "タイトル"
    .col-12.my-3
      = f.file_field :image
    .col-12.d-flex
      .col-6.my-3
        = f.text_area :content, class: "form-control", "@input" => "update", "@dragenter" => "dragEnter", "@dragleave" => "dragLeave", "@drop.prevent" => "dropFile", ":class" => "{enter: isEnter}", rows: 33, placeholder: "本文"
      .form__textarea.col-6.my-3.form-control.text-wrap.text-break
        %div{ "v-html" => "compiledMarkdown" }
    .col-12
      = f.submit "投稿する", class: "form__btn btn btn-info"

%script{src: "http://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js"}
%script{src: "https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"}
:javascript
  new Vue({
    el: "#app",
    data: {
      input: "",
      isEnter: false,
      filse: []
    },
    computed: {
      compiledMarkdown: function () {
        return  marked(this.input, {
          sanitize: true,
          breaks: true,
        })
      }
    },
    methods: {
      update: _.debounce(function (e) {
        this.input = e.target.value
      }, 300),
      dragEnter() {
        this.isEnter = true;
      },
      dragLeave() {
        this.isEnter = false;
      },
      dropFile(e) {
        this.files = [...e.dataTransfer.files]
        this.isEnter = false;
      }
    }
  })
